/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

body{
    background-color: #ffffff;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica;
    margin:0;
    min-width: 1000px;
}

a{
    color: #000000; 
    text-decoration: none;
}

button{
    background-color: #ffffff;
    border: none;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px;
    width: 78px;
    height: 32px;
    font-family: 'Montserrat',"Helvetica Neue",Helvetica;
    border-radius: 2px;
}

button:hover{
    border: 1px solid #076AE0;
    border-radius: 5px;
}
.navbar{
    background-color: #076AE0;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
	justify-content: center;
    text-align: center;
}
.logo{
    flex:1 0 0;
    height: 100%;
    text-align: center;
}
#logo{
    margin: 0;
    padding: 0;
    width: 200px;
}

.navspacing, .navbuttons{
    width: 350px;
    display: flex;
    justify-content: center;
}
.content{
    animation: fadeInUp 500ms ease-in-out;
    margin: 20px;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#slideshow{
    margin: 0 auto;
    max-width:80%;
    min-width: 1000px;

}
#slides{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.slideimg{
    margin: 0;
    padding: 0;
}
[data-component="slideshow"] .slide {
	display: none;
    text-align: center;
}

[data-component="slideshow"] .slide.active {
    flex-grow: 2;
	display: block;
    animation: fade 250ms ease-in-out;
    
}

@keyframes fade {
    0% { opacity:0;}
    100% { opacity:1;}
}

@-webkit-keyframes fade {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
.footer{
    border-top: 1px solid #c4c4c4;
    margin: auto;
    display: flex;
    flex-direction: column;
	justify-content: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footerrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #c4c4c4;
    text-align: center;
}
.footercol{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footertitle{
    display: flex;
    margin: 20px 0 0 0;
    color: #000000;
    text-decoration: underline;
}
.footerlinks{
    padding: 0;
}

.sitelink:hover{
    color: #c4c4c4;
}
.footersocials{
    display: inline-block;
    margin: 20px 0 0 0;
}
.socialicon{
    width:25px;
}
.socialicon:hover{
    fill:#c4c4c4;
}
