/*Animation keyframes*/
@keyframes fade {
    0%,100% { opacity:0;}
    5%,95% { opacity:1;}
}
@-webkit-keyframes fade {
    0%,100% { opacity: 0;}
    5%,95% { opacity: 1;}
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/*Custom font face*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

/*global tags*/
html{
    height: 100%;
}
body{
    background-color: #ffffff;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica;
    margin:0;
    height: 100%;
    min-width: 390px;
    overflow: auto;
}
a{
    color: #000000;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
button{
    background-color: #ffffff;
    border: none;
   
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    width: 78px;
    height: 32px;
    font-family: 'Montserrat',"Helvetica Neue",Helvetica;
    border-radius: 2px;
}
button:hover{
    border: 1px solid #076AE0;
    border-radius: 5px;
}
button:active{
    border: 1px solid #000000;
}
label{
    text-align: left;
    font-size: 14px;
}
input{
    padding: 10px 0 10px 5px;
    border: 1px solid #c4c4c4;
    font-family: 'Montserrat',"Helvetica Neue",Helvetica;
}
h1, h2, h3,h4, h5, h6 {
    margin:20px 0;
    position:relative;
}
ul{
    margin:0;
    padding:0;
}
::placeholder{
    font-family: 'Montserrat',"Helvetica Neue",Helvetica;
}
::-moz-placeholder{
    font-family: 'Montserrat',"Helvetica Neue",Helvetica;
    opacity:1;
}
::-webkit-input-placeholder{
    font-family: 'Montserrat',"Helvetica Neue",Helvetica;
}
/*Navbar*/
.navbar{
    background-color: #076AE0;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
	justify-content: center;
    text-align: center;
}
.logo{
    flex:1 0 0;
    height: 100%;
    text-align: center;
}
#logo{
    margin: 0;
    padding: 0;
    width: 200px;
}
.navspacing, .navbuttons{
    width: 350px;
    display: flex;
    justify-content: center;
}
.sidebarnav{
    display: none;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #c4c4c4;
    padding:0;
    margin:0;
    min-width: 200px;;
}
.sidebarnav.active{
    display: flex;
}
.sidebarnav ul{
    width: 100%;
}
.sidebarnav li{
    width: 100%;
    border: 1px solid #c4c4c4;
    padding: 20px 0;
}
/*Hero Page*/
@media (max-width: 1000px) {
    #slideshow{
        min-width: none;
    }
    .navbutton{
        display: none;
    }
    .slideimg{
        width:100%;
    }
}
@media (min-width: 1001px){
    #slideshow{
        min-width: 1000px;
    }
    .slideimg{
        width: 800px;
        height: 500px;
    }
}
.content{
    display:flex;
    flex-direction:row;
}
.hero{
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position:relative;
    flex-grow: 3;
}
.hero::before {    
    content: "";
    background-image: url('./assets/pizza-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
}

#slideshow{
    margin: 0 auto;
    max-width:80%;
    position:relative;
}
#slides{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.slideimg{
    margin: 0;
    padding: 0;
}
[data-component="slideshow"] .slide {
	display: none;
    text-align: center;
}
[data-component="slideshow"] .slide.active {
    flex-grow: 2;
	display: block;
    animation: fade 10000ms;
}
.navbutton{
    min-width: 150px;
    width: 150px;
}
/*Login and Register Page*/
.login{
    background-color: #076AE0;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height:100%;
    min-height: 500px;
}
.loginbox{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 40px 20px;
}
.formheader{
    font-size:16px;
    font-weight: 900;
    margin:20px 0;
}
#loginform{
    width: 100%;
    padding:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.forminput{
    width: 100%;
}
.formtext{
    width:260px;
    margin: 10px 0;
}
.bottomtext{
    font-size:10px;
    text-align: center;
}
.bluelink{
    color: #076AE0;
    margin:0;
}
.bluebutton{
    background-color: #076AE0;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 10px;
    width: 120px;
    height: 32px;
    font-family: 'Montserrat',"Helvetica Neue",Helvetica;
}
.bluebutton:hover{
    border: 1px solid #c4c4c4;
}
.bluebutton:active{
    border: 1px solid #000000;
}
.alignleft{
    align-self: flex-start;
    margin: 0;
}
#paymentrow{
    display: flex;
    flex-direction: row;
}
#cardexpiry, #cvv{
    width:120px;
    margin-right: 5px;
}

#cart{
    width:40px;
    border: none;
}
#navigation{
    border:none;
    width:30px;
}

#location{
    position: fixed;
    width:100vw;
    height:100vh;
    z-index: 100;
    background-color:rgba(0,0,0,0.5);
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    top: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.locationinfo{
    margin: 20px 0 0 0;
}
.locationbox{
    background-color: #ffffff;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    height: 500px;
    width: 300px;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 20px;
}
#currentlocationinfo, #inputlocationinfo {
    text-align: center;
    cursor: pointer;
}
#currentlocationinfo:hover, #inputlocationinfo:hover{
    font-weight: bold;
}
#location.active{
    display:flex;
}
.locationsubmit{
    width: 100%;
}
.preventscroll{
    overflow: hidden;
}
.locationbox input{
    text-align: center;
}

@media (max-width: 650px){
    .tabgroup{
        flex-direction: column;
    }
}
.tabgroup{
    position:relative;
    display:flex;
    justify-content: space-between;
    border: 1px solid #c4c4c4;
    margin:0;
}

[data-component="tablist"] .tabitem{
    border: 1px solid #c4c4c4;
    height: 100%;
    width: 100%;
    min-width: 110px;
    padding: 20px;
    margin:0;
    background-color: #ffffff;
}
[data-component="tablist"] .tabitem:hover{
    font-weight: bold;
}
[data-component="tablist"] .tabitem.active{
    background-color: #076AE0;
    color: #ffffff;
}
.menucontainer{
    position: relative;
    border: 1px solid #c4c4c4;
}
[data-component="menulist"] .menuitems{
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-flow: wrap;
}

[data-component="menulist"] .menuitems.active{
    display: flex;
}
.menuitem{
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    margin: 20px;
    width: 200px;
}

.menuicon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuimage{
    height:200px;
    width:200px;
}

.menudescription{
    padding: 10px;
}
.biggerbutton{
    width:200px;
    height: 50px;
    font-size: 14px;
}
/*Footer*/
.footer{
    border-top: 1px solid #c4c4c4;
    margin: auto;
    display: flex;
    flex-direction: column;
	justify-content: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footerrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #c4c4c4;
    text-align: center;
}
.footercol{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footertitle{
    display: flex;
    margin: 20px 0 0 0;
    color: #000000;
    text-decoration: underline;
}
.footerlinks{
    padding: 0;
}

.sitelink:hover{
    color: #c4c4c4;
}
.footersocials{
    display: inline-block;
    margin: 20px 0 0 0;
}
.socialicon{
    width:25px;
}
.socialicon:hover{
    fill:#c4c4c4;
}

#registered, #unregistered{
    display:none;
}
#registered.active, #unregistered.active{
    display:block;
}